<app-error-page
  [isNotPermission]="
    lstFunctionCode && !lstFunctionCode?.includes(FunctionCode.VIEW)
  "
></app-error-page>
<div
  *ngIf="lstFunctionCode && lstFunctionCode.includes(FunctionCode.VIEW)"
  class="card"
>
  <div *ngIf="loading">
    <div class="loading-overlay">
      <div class="loading-spinner"></div>
    </div>
  </div>
  <!-- Filter - BEGIN -->
  <div class="card-body">
    <div class="row m-b-5">
      <div class="col-lg-8">
        <form nz-form [formGroup]="searchForm" (ngSubmit)="onSearchData()">
          <div class="form-group row">
            <div class="col-md-3">
              <label for="name">Tên</label>
              <input
                type="text"
                class="form-control"
                placeholder="Tên quyền dữ liệu"
                id="name"
                formControlName="Name"
              />
            </div>
            <div class="col-md-3">
              <label for="formId">Trạng thái</label>
              <select
                id="IsActive"
                formControlName="IsActive"
                class="form-control"
              >
                <option selected value="null">Tất cả</option>
                <option [ngValue]="true">Hoạt động</option>
                <option [ngValue]="false">Không hoạt động</option>
              </select>
            </div>
            <div class="col-md-3 d-flex align-items-end">
              <button
                class="btn btn-primary"
                data-toggle="tooltip"
                data-placement="top"
                title="Tìm kiếm"
              >
                <i class="anticon anticon-search"></i>
              </button>
            </div>
          </div>
        </form>
      </div>
      <div
        class="col-lg-4 form-group"
        *ngIf="lstFunctionCode.includes(FunctionCode.CREATE)"
      >
        <div class="h-100 d-flex align-items-end justify-content-end">
          <button
            class="btn btn-primary"
            (click)="onOpenModalCreate()"
          >
            <i class="anticon anticon-plus-circle m-r-5"></i>
            <span>Thêm mới</span>
          </button>
        </div>
      </div>
    </div>
    <!-- Filter - END -->

    <!-- Table - BEGIN -->
    <div class="dataTables_wrapper dt-bootstrap4 no-footer">
      <div class="table-responsive">
        <table
          id="dtDynamicVerticalScroll"
          class="table table-hover table-bordered e-commerce-table"
        >
          <thead>
            <tr>
              <th class="text-center align-middle" [width]="'30px'">STT</th>
              <th class="text-left align-middle">Tên</th>
              <th class="text-left align-middle">Bảng (View) nghiệp vụ</th>
              <th class="text-center align-middle" [width]="'106px'">
                Trạng thái
              </th>

              <th class="text-left align-middle">Ghi chú</th>
              <th class="text-center align-middle" [width]="'95px'">Tác vụ</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of lstItem; let indexOfelement = index">
              <td class="text-center">
                {{ (pageIndex - 1) * pageSize + indexOfelement + 1 }}
              </td>
              <td
                class="text-left"
                style="
                  overflow: hidden;
                  text-overflow: ellipsis;
                  max-width: 200px;
                  white-space: pre-wrap;
                "
              >
                <a
                  [id]="'Item_' + item.Id"
                  [href]="'javascript:void(' + item.Id + ')'"
                  class="text-primary"
                  (click)="onOpenModalDisplay(item.Id)"
                >
                  {{ item.Name }}</a
                >
              </td>
              <td class="text-left">
                {{ item.RuleView }}
              </td>

              <td class="text-center">
                <span
                  *ngIf="item.IsActive"
                  class="badge badge-pill badge-primary font-weight-bold"
                  >Hoạt động</span
                >
                <span
                  *ngIf="!item.IsActive"
                  class="badge badge-pill badge-secondary font-weight-bold"
                  >Không hoạt động</span
                >
              </td>

              <td
                class="text-left"
                style="
                  overflow: hidden;
                  text-overflow: ellipsis;
                  max-width: 200px;
                  white-space: pre-wrap;
                "
              >
                {{ item.Note }}
              </td>
              <td class="text-center">
                <button
                  class="btn btn-icon btn-hover btn-sm btn-rounded pull-right"
                  data-toggle="tooltip"
                  title="Chỉnh sửa"
                  *ngIf="lstFunctionCode.includes(FunctionCode.EDIT)"
                  (click)="onOpenModalUpdate(item.Id)"
                >
                  <i class="anticon anticon-edit"></i>
                </button>
                <button
                  class="btn btn-icon btn-hover btn-sm btn-rounded"
                  data-toggle="tooltip"
                  title="Xóa"
                  *ngIf="lstFunctionCode.includes(FunctionCode.DELETE)"
                  (click)="onConfirmDel(item)"
                >
                  <i class="anticon anticon-delete"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <!-- Paging - BEGIN -->
      <app-pagination
        [pageIndex]="pageIndex"
        [totalItem]="totalItem"
        [pageSize]="pageSize"
        [pageCount]="pageCount"
        (onChangePagination)="onChangePagination($event)"
      >
      </app-pagination>
      <!-- Paging - END -->
      <app-nodata-info [totalItem]="totalItem"> </app-nodata-info>
    </div>
    <!-- Table - END -->
  </div>

  <!-- Popup - BEGIN -->
  <app-rule-modal
    #popup
    [model]="popupItem"
    [functionCode]="functionCode"
    [lstFunctionCode]="lstFunctionCodePopup"
    (onSubmitModal)="onSubmitModal($event)"
    (onHideModal)="onHideModal()"
    (onEditModal)="onEditModal($event)"
    (onDeleteModal)="onDeleteModal($event)"
  ></app-rule-modal>
  <!-- Popup - END -->
</div>
