<app-error-page
  [isNotPermission]="
    lstFunctionCode && !lstFunctionCode.includes(FunctionCode.DISPLAY)
  "
></app-error-page>

<div
  *ngIf="lstFunctionCode && lstFunctionCode.includes(FunctionCode.DISPLAY)"
  class="card"
>
  <div *ngIf="loading">
    <div class="loading-overlay">
      <div class="loading-spinner"></div>
    </div>
  </div>
  <div class="card-body">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item">
        <a
          class="nav-link"
          id="common-tab"
          data-toggle="tab"
          href="#common"
          role="tab"
          aria-controls="common"
          aria-selected="false"
          >Thông tin chung</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link active"
          id="data-tab"
          data-toggle="tab"
          href="#data"
          role="tab"
          aria-controls="data"
          aria-selected="true"
          >Thông tin nhập</a
        >
      </li>
    </ul>

    <div class="tab-content m-t-15" id="myTabContent">
      <!-- Thông tin chung -->
      <div
        class="tab-pane fade"
        id="common"
        role="tabpanel"
        aria-labelledby="common-tab"
      >
        <!-- Thông tin -->
        <div class="form-row">
          <div class="form-group col-4">
            <label>Tên</label>
            <input
              type="text"
              class="form-control"
              readonly
              [value]="item.Name"
            />
          </div>
          <div class="form-group col-4">
            <label>Trạng thái ca trực</label>
            <input
              type="text"
              class="form-control"
              [ngClass]="
                DicStatusStyleInput_OnShiftDuty.get(item.StatusDutyShift)
              "
              readonly
              [value]="DicStatusDesc_OnShiftDuty.get(item.StatusDutyShift)"
            />
          </div>
          <div class="form-group col-4" *ngIf="flowId">
            <label>Trạng thái phê duyệt</label>
            <input
              type="text"
              class="form-control"
              [ngClass]="DicStatusStyleInput.get(item.Status)"
              readonly
              [value]="DicStatusDesc.get(item.Status)"
            />
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-4">
            <label>Người phụ trách</label>
            <input
              type="text"
              class="form-control"
              readonly
              [value]="item.InchargeUser_Name"
            />
          </div>
          <div class="form-group col-4">
            <label>Ngày tạo</label>
            <input
              type="text"
              class="form-control"
              readonly
              [value]="item.CreatedDTG | date : 'dd/MM/yyyy HH:mm'"
            />
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-4">
            <label>Tên ca trực</label>
            <input
              type="text"
              class="form-control"
              readonly
              [value]="item.ShiftName"
            />
          </div>
          <div class="form-group col-4">
            <label>Thời gian ca trực</label>
            <input
              type="text"
              class="form-control"
              readonly
              [value]="computeValue(item.StartDTG, item.EndDTG)"
            />
          </div>
        </div>
        <div class="form-group form-row">
          <div class="col-8">
            <label>Ghi chú</label>
            <input
              type="textarea"
              class="form-control"
              readonly
              [value]="item.Note"
            />
          </div>
        </div>
        <!--// -->
        <div class="form-row">
          <div class="col-8">
            <!-- Luồng phê duyệt -->
            <app-flow-process-list
              #flow_process_list
              *ngIf="flowId"
              [refId]="Id"
              [refTypeId]="refTypeId"
            ></app-flow-process-list>
            <!--// -->
          </div>
        </div>
      </div>
      <!--// -->

      <!-- Thông tin nhập -->
      <div
        class="tab-pane fade show active"
        id="data"
        role="tabpanel"
        aria-labelledby="data-tab"
      >
        <!-- Form content -->
        <app-iframe-content
          [context]="item.Context"
          [isReadOnly]="true"
          [showButtonRedirect]="true"
        ></app-iframe-content>
        <!--// -->
      </div>
      <!--// -->
    </div>
  </div>
</div>
