<div class="modal" id="RoleModal" #RoleModal>
  <div class="modal-dialog modal-lg">
    <!-- Create & Edit -->
    <div
      class="modal-content"
      *ngIf="
        functionCode == FunctionCode.CREATE || functionCode == FunctionCode.EDIT
      "
    >
      <div class="modal-header justify-content-between align-items-center">
        <h5 class="modal-title">
          {{ !model || !model.Id ? "Thêm mới " : "Cập nhật " }} vai trò
        </h5>
        <button type="button" class="close" (click)="onHide()">
          <i class="anticon anticon-close"></i>
        </button>
      </div>
      <div class="modal-body scrollable">
        <form [formGroup]="popupForm" (ngSubmit)="onSubmit()">
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="Name">Tên <span class="text-danger">*</span></label>
              <input
                type="text"
                class="form-control"
                id="Name"
                placeholder="Nhập tên"
                formControlName="Name"
                [(ngModel)]="model.Name"
                maxlength="100"
                [ngClass]="{ 'is-invalid': submitted && f.Name.errors }"
                required
              />
              <div *ngIf="submitted && f.Name.errors" class="invalid-feedback">
                <div *ngIf="f.Name.errors.required">Không được trống</div>
                <div *ngIf="f.Name.errors.maxlength">Tối đa 100 ký tự</div>
              </div>
            </div>
            <div class="form-group col-md-6">
              <label for="IsActive">Trạng thái</label>
              <select
                class="form-select form-control"
                aria-label=".form-select-lg"
                id="IsActive"
                formControlName="IsActive"
                [(ngModel)]="model.IsActive"
                [ngClass]="{ 'is-invalid': submitted && f.IsActive.errors }"
              >
                <option [ngValue]="true" selected>Hoạt động</option>
                <option [ngValue]="false">Không hoạt động</option>
              </select>
              <div
                *ngIf="submitted && f.IsActive.errors"
                class="invalid-feedback"
              >
                <div *ngIf="f.IsActive.errors.required">Không được trống</div>
              </div>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-12">
              <label for="txtNote" class="form-label">Ghi chú</label>
              <textarea
                rows="2"
                formControlName="Note"
                class="form-control"
                id="txtNote"
                placeholder="Ghi chú"
                [(ngModel)]="model.Note"
                maxlength="1000"
                [ngClass]="{ 'is-invalid': submitted && f.Note.errors }"
              ></textarea>
              <div *ngIf="submitted && f.Note.errors" class="invalid-feedback">
                <div *ngIf="f.Note.errors?.[maxlength]">Tối đa 1000 ký tự</div>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button
          type="submit"
          *ngIf="lstFunctionCode && lstFunctionCode.includes(functionCode)"
          class="btn btn-primary"
          (click)="onSubmit()"
        >
          Lưu
        </button>
        <button
          (click)="onHide()"
          id="closeModalButton"
          class="btn btn-secondary"
        >
          Đóng
        </button>
      </div>
    </div>
    <!--// -->

    <!-- Display -->
    <div class="modal-content" *ngIf="functionCode == FunctionCode.DISPLAY">
      <div class="modal-header justify-content-between align-items-center">
        <h5 class="modal-title">Chi tiết vai trò</h5>
        <button type="button" class="close" (click)="onHide()">
          <i class="anticon anticon-close"></i>
        </button>
      </div>
      <div class="modal-body scrollable">
        <div class="form-row">
          <div class="form-group col-md-6">
            <label>Tên</label>
            <input
              type="text"
              class="form-control"
              [(ngModel)]="model.Name"
              readonly
            />
          </div>
          <div class="form-group col-md-6">
            <label for="IsActive">Trạng thái</label>
            <input
              type="text"
              class="form-control"
              id="IsActive"
              [(ngModel)]="dislayIsActive"
              readonly
            />
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-12">
            <label class="form-label">Ghi chú</label>
            <textarea
              rows="2"
              class="form-control"
              [(ngModel)]="model.Note"
              maxlength="1000"
              readonly
            ></textarea>
          </div>
        </div>
        <div class="form-group">
          <label for="formGroupExampleInput">Danh sách người dùng</label>

          <div class="table-responsive">
            <table class="table table-hover table-bordered">
              <thead>
                <tr>
                  <th class="text-center" [width]="'5%'">STT</th>
                  <th class="text-left" [width]="'25%'">Tên đăng nhập</th>
                  <th class="text-left" [width]="'27%'">Tên nhân viên</th>
                  <th class="text-left" [width]="'13%'">Giới tính</th>
                  <th class="text-center" [width]="'15%'">Ngày sinh</th>
                  <th class="text-center" [width]="'20%'">Trạng thái</th>
                </tr>
              </thead>
              <tbody>
                <tr
                  *ngFor="let item of model.Users; let indexOfelement = index"
                >
                  <td class="text-center">
                    {{ indexOfelement + 1 }}
                  </td>
                  <td class="text-left">
                    {{ item.Username }}
                  </td>
                  <td class="text-left">
                    {{ item.Name }}
                  </td>
                  <td class="text-left">
                    {{ DicGenderDesc.get(item.Gender) }}
                  </td>
                  <td class="text-center">
                    {{ item.DateOfBirth | date : "dd/MM/yyyy" }}
                  </td>
                  <td class="text-center">
                    <div>
                      <span
                        class="badge badge-pill font-weight-bold"
                        [ngClass]="{
                          'badge-primary': item.IsActive,
                          'badge-secondary': !item.IsActive
                        }"
                        >{{
                          item.IsActive ? "Hoạt động" : "Ngừng hoạt động"
                        }}</span
                      >
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button
          *ngIf="lstFunctionCode && lstFunctionCode.includes(FunctionCode.EDIT)"
          class="btn btn-primary"
          (click)="onEdit()"
        >
          Sửa
        </button>
        <button
          *ngIf="
            lstFunctionCode && lstFunctionCode.includes(FunctionCode.DELETE)
          "
          class="btn btn-danger btn-delete-left"
          (click)="onDelete()"
        >
          Xóa
        </button>
        <button
          (click)="onHide()"
          id="closeModalButton"
          class="btn btn-secondary"
        >
          Đóng
        </button>
      </div>
    </div>
    <!--// -->
  </div>
</div>
