<div *ngIf="processFlow">
  <div class="form-row">
    <label>
      <h5>{{ title }}</h5>
    </label>
  </div>
  <div class="form-row">
    <div class="form-group col-4">
      <label>Người trình phê duyệt</label>
      <input
        type="text"
        class="form-control"
        readonly
        value="{{ processFlow.SubmittedUsername }} - {{ processFlow.SubmittedUser_Name }}"
      />
    </div>
    <div class="form-group col-4">
      <label>Thời gian</label>
      <input
        type="text"
        class="form-control"
        readonly
        value="{{ processFlow.SubmittedDTG | date : 'dd/MM/yyyy HH:mm' }}"
      />
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-8">
      <label>Ghi chú</label>
      <input
        type="textarea"
        class="form-control"
        readonly
        [value]="processFlow.SubmittedNote"
      />
    </div>
  </div>
  <div class="form-row">
    <div class="col-8">
      <label>
        <h5>{{ titleGrid }}</h5>
      </label>
      <table
        id="dtDynamicVerticalScroll"
        class="table table-hover table-bordered e-commerce-table"
      >
        <thead>
          <tr>
            <th class="text-center" [width]="'50px'">STT</th>
            <th class="text-left">Tên bước</th>
            <th class="text-left">Mô tả</th>
            <th class="text-left">Người phê duyệt</th>
            <th class="text-left">Thời gian</th>
            <th class="text-center" [width]="'20%'">Trạng thái</th>
            <th class="text-center">Ghi chú</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of lstItem; let indexOfelement = index">
            <td class="text-center">
              {{ indexOfelement + 1 }}
            </td>
            <td class="text-left">{{ item.Name }}</td>
            <td class="text-left">{{ item.Note }}</td>
            <td class="text-left">
              <div *ngIf="item.ApprovedUsername">
                {{ item.ApprovedUsername }} - {{ item.ApprovedUser_Name }}
              </div>
            </td>
            <td class="text-left">
              {{ item.ApprovedDTG | date : "dd/MM/yyyy HH:mm" }}
            </td>
            <td class="text-center">
              <span [class]="DicStatusStyle.get(item.Status)">
                {{ DicStatusDesc.get(item.Status) }}
              </span>
            </td>
            <td class="text-left">{{ item.ApprovedNote }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
