<!-- <div class="container-fluid p-h-0 p-v-20 h-100 bg" style="background-image: url('assets/images/others/login-3.png')">
    <div class="d-flex flex-column justify-content-between h-100">
        <div class="d-none d-md-block"></div>
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-7 col-lg-5 m-h-auto">
                    <nz-card class="m-b-100 shadow-lg">
                        <div class="d-flex align-items-center justify-content-between m-b-30">
                            <img class="img-fluid" alt="" src="assets/images/logo/logo.png">
                            <h2 class="m-b-0">Sign In</h2>
                        </div>
                        <form nz-form [formGroup]="loginForm" nzLayout="vertical" class="login-form" (ngSubmit)="submitForm()">
                            <nz-form-item>
                                <nz-form-label nzRequired nzFor="userName">Username</nz-form-label>
                                <nz-form-control nzErrorTip="Please input your username!">
                                    <nz-input-group [nzPrefix]="prefixUser">
                                        <input type="text" nz-input formControlName="userName" placeholder="Username">
                                    </nz-input-group>
                                </nz-form-control>
                            </nz-form-item>
                            <nz-form-item class="relative">
                                <nz-form-label nzRequired nzFor="password">Password</nz-form-label>
                                <a class="float-right font-size-13 text-muted" style="position:absolute; right: 0" [routerLink]="['/authentication/reset-password-1']">Forget Password?</a>
                                <nz-form-control nzErrorTip="Please input your Password!">
                                    <nz-input-group [nzPrefix]="prefixLock">
                                        <input type="password" nz-input formControlName="password" placeholder="Password">
                                    </nz-input-group>
                                </nz-form-control>
                            </nz-form-item>
                            <nz-form-item>
                                <nz-form-control>
                                    <div class="d-flex align-items-center justify-content-between">
                                        <span class="font-size-13 text-muted">Don't have an account? <a class="small" [routerLink]="['/authentication/sign-up-1']"> Signup</a></span>
                                        <button nz-button class="login-form-button" [nzType]="'primary'">Sign In</button>
                                    </div>
                                </nz-form-control>
                            </nz-form-item>
                        </form>
                        <ng-template #prefixUser><i nz-icon nzType="user"></i></ng-template>
                        <ng-template #prefixLock><i nz-icon nzType="lock"></i></ng-template>
                    </nz-card>
                </div>
            </div>
        </div>
        <div class="d-none d-md-flex p-h-40 justify-content-between">
            <span class="">© 2019 ThemeNate</span>
            <ul class="list-inline">
                <li class="list-inline-item">
                    <a class="text-dark text-link" href="">Legal</a>
                </li>
                <li class="list-inline-item">
                    <a class="text-dark text-link" href="">Privacy</a>
                </li>
            </ul>
        </div>
    </div>
</div> -->

<div class="container-fluid p-h-0 p-v-20 bg full-height d-flex"
  style="background-image: url('assets/images/others/login-3.png')">
  <div class="d-flex flex-column justify-content-between w-100">
    <div class="container d-flex h-100">
      <div class="row align-items-center w-100">
        <div class="col-md-7 col-lg-5 m-h-auto">
          <div class="card shadow-lg">
            <div class="card-body">
              <div class="d-flex align-items-center justify-content-center m-b-30">
                <img class="img-fluid" width="140" alt="" src="assets/images/logo/logoNKDT.png">
                <!-- <h2 class="m-b-0">Sign In</h2> -->
              </div>
              <form (ngSubmit)="submitForm()" [formGroup]="loginForm">
                <div class="form-group">
                  <label class="font-weight-semibold" for="userName">Tên tài khoản:</label>
                  <div class="input-affix">
                    <i class="prefix-icon anticon anticon-user"></i>
                    <input type="text" class="form-control" id="userName" placeholder="Username"
                      formControlName="username" [(ngModel)]="this.model.Username">
                  </div>
                  <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                    <div *ngIf="f.username.errors.required">
                      Không được trống
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label class="font-weight-semibold" for="password">Mật khẩu:</label>
                  <!-- <a class="float-right font-size-13 text-muted" href="">Forget Password?</a> -->
                  <div class="input-affix m-b-10">
                    <i class="prefix-icon anticon anticon-lock"></i>
                    <input [type]="typePassword ? 'password' : 'text'" class="form-control" id="password" placeholder="Password"
                      formControlName="password" [(ngModel)]="this.model.Password">
                    <i [class]="'suffix-icon far ' + (typePassword ? 'fa-eye': 'fa-eye-slash')"  (click)="ChangeTypeInputPassword()"></i>
                  </div>
                  <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                    <div *ngIf="f.password.errors.required">
                      Không được trống
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="d-flex align-items-center justify-content-between">
                    <span class="font-size-13 text-muted">
                      <!-- Don't have an account?
                                            <a class="small" href=""> Signup</a> -->
                    </span>
                    <button class="btn btn-primary">Đăng nhập</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="d-none d-md-flex p-h-40 justify-content-between">
      <span class="">E-Solutions ©2023 Hệ thống nhật ký điện tử</span>
      <span> {{ version }} </span>
    </div>
  </div>
</div>
