<app-error-page
  [isNotPermission]="
    lstFunctionCode && !lstFunctionCode?.includes(FunctionCode.VIEW)
  "
></app-error-page>
<div
  *ngIf="lstFunctionCode && lstFunctionCode.includes(FunctionCode.VIEW)"
  class="card"
>
  <div *ngIf="loading">
    <div class="loading-overlay">
      <div class="loading-spinner"></div>
    </div>
  </div>
  <div class="card-body">
    <div class="row m-b-5">
      <div class="col-lg-8">
        <form [formGroup]="searchForm" (ngSubmit)="onSearch()">
          <div class="form-group row">
            <div class="col-md-3">
              <label for="name">Tên</label>

              <input
                type="text"
                class="form-control"
                placeholder="Nhập tên"
                id="name"
                formControlName="name"
              />
            </div>
            <div class="col-md-3">
              <label for="status">Trạng thái</label>
              <select id="status" formControlName="status" class="form-control">
                <option selected value="-1">Tất cả</option>
                <option [ngValue]="true">Hoạt động</option>
                <option [ngValue]="false">Không hoạt động</option>
              </select>
            </div>
            <div class="col-md-3 d-flex align-items-end">
              <button class="btn btn-primary">
                <i class="anticon anticon-search m-r-5"></i>
              </button>
            </div>
          </div>
        </form>
      </div>
      <div
        class="col-lg-4 form-group"
        *ngIf="lstFunctionCode.includes(FunctionCode.CREATE)"
      >
        <div class="h-100 d-flex align-items-end justify-content-end">
          <a class="btn btn-primary" [routerLink]="addForm()">
            <i class="anticon anticon-plus-circle m-r-5"></i>
            <span>&nbsp;Thêm mới</span>
          </a>
        </div>
      </div>
    </div>

    <div class="dataTables_wrapper dt-bootstrap4 no-footer">
      <div class="table-responsive">
        <table
          id="dtDynamicVerticalScroll"
          class="table table-hover table-bordered e-commerce-table"
        >
          <thead>
            <tr>
              <th class="text-center" [width]="'5%'">STT</th>
              <th class="text-left" [width]="'25%'">Tên</th>
              <th class="text-center" [width]="'15%'">Trạng thái</th>
              <th class="text-left" [width]="'32%'">Ghi chú</th>
              <th class="text-center" [width]="'8%'">Tác vụ</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of listForm; let indexOfelement = index">
              <td class="text-center">
                {{ (pageIndex - 1) * pageSize + indexOfelement + 1 }}
              </td>
              <td class="text-left">
                <a [routerLink]="detailForm(item.Id)"> {{ item.Name }}</a>
              </td>
              <td class="text-center">
                <span
                  *ngIf="item.IsActive"
                  class="badge badge-pill badge-primary font-weight-bold"
                  >Hoạt động</span
                >
                <span
                  *ngIf="!item.IsActive"
                  class="badge badge-pill badge-secondary font-weight-bold"
                  >Không hoạt động</span
                >
              </td>
              <td class="text-left" style="white-space: pre-wrap">
                {{ item.Note }}
              </td>
              <td class="text-center">
                <a
                  class="btn btn-icon btn-hover btn-sm btn-rounded pull-right"
                  data-toggle="tooltip"
                  title="Chỉnh sửa"
                  *ngIf="lstFunctionCode.includes(FunctionCode.EDIT)"
                  [routerLink]="editForm(item.Id)"
                >
                  <i class="anticon anticon-edit"></i>
                </a>
                <button
                  class="btn btn-icon btn-hover btn-sm btn-rounded"
                  data-toggle="tooltip"
                  title="Xóa"
                  *ngIf="lstFunctionCode.includes(FunctionCode.DELETE)"
                  (click)="confirmDel(item.Id, item)"
                >
                  <i class="anticon anticon-delete"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <app-pagination
        [pageIndex]="pageIndex"
        [totalItem]="totalItem"
        [pageSize]="pageSize"
        [pageCount]="pageCount"
        (onChangePagination)="changePagination($event)"
      >
      </app-pagination>
      <app-nodata-info [totalItem]="totalItem"> </app-nodata-info>
    </div>
  </div>
</div>
