<div class="modal fade show" id="TagModal" #TagModal>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header justify-content-between align-items-center">
        <h5 class="modal-title">
          {{
            functionCode == FunctionCode.CREATE ||
            functionCode == FunctionCode.EDIT
              ? !model.Id
                ? "Thêm mới "
                : "Cập nhật "
              : "Chi tiết "
          }}
          thông số
        </h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          (click)="onHide()"
        >
          <i class="anticon anticon-close"></i>
        </button>
      </div>
      <div class="modal-body scrollable">
        <form [formGroup]="popupForm" (ngSubmit)="onSubmit()">
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="Name"
                >Tên thông số <span class="text-danger">*</span></label
              >
              <input
                type="text"
                class="form-control"
                id="Name"
                placeholder="Nhập tên thông số"
                formControlName="Name"
                [attr.readonly]="
                  functionCode == FunctionCode.DISPLAY ? true : null
                "
                [ngClass]="{
                  'is-invalid':
                    f.Name.errors && (f.Name.touched || f.Name.dirty)
                }"
                required
              />
              <div
                *ngIf="f.Name.errors && (f.Name.touched || f.Name.dirty)"
                class="invalid-feedback"
              >
                <div *ngIf="f.Name.errors.required">
                  Tên thông số là bắt buộc
                </div>
                <div *ngIf="f.Name.errors.maxlength">
                  Tên thông số nhập tối đa 100 ký tự
                </div>
              </div>
            </div>
            <div class="form-group col-md-6">
              <label for="Code"
                >Mã thông số <span class="text-danger">*</span></label
              >
              <input
                type="text"
                class="form-control"
                id="Code"
                placeholder="Nhập mã thông số"
                formControlName="Code"
                [attr.readonly]="
                  functionCode == FunctionCode.DISPLAY ? true : null
                "
                [ngClass]="{
                  'is-invalid':
                    f.Code.errors && (f.Code.touched || f.Code.dirty)
                }"
                required
              />
              <div
                *ngIf="f.Code.errors && (f.Code.touched || f.Code.dirty)"
                class="invalid-feedback"
              >
                <div *ngIf="f.Code.errors.required">
                  Mã thông số là bắt buộc nhập
                </div>
                <div *ngIf="f.Code.errors.maxlength">
                  Mã thông số nhập tối đa 100 ký tự
                </div>
                <div *ngIf="f.Code.errors.pattern">Mã không hợp lệ</div>
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="UnitID">Đơn vị tính</label>
              <ng-select
                formControlName="UnitID"
                dropdownPosition="bottom"
                id="UnitID"
                placeholder="Chọn đơn vị tính"
                [appendTo]="'body'"
                *ngIf="functionCode != FunctionCode.DISPLAY"
              >
                <ng-option *ngFor="let item of listUnit" [value]="item.Id">
                  {{ item.Name }}
                </ng-option>
              </ng-select>
              <input
                type="text"
                class="form-control"
                formControlName="UnitName"
                *ngIf="functionCode == FunctionCode.DISPLAY"
                readonly
              />
            </div>

            <div class="form-group col-md-6">
              <label for="IsActive">Trạng thái</label>
              <ng-select
                formControlName="IsActive"
                dropdownPosition="bottom"
                id="IsActive"
                placeholder="Chọn trạng thái"
                [appendTo]="'body'"
                [clearable]="false"
                *ngIf="functionCode != FunctionCode.DISPLAY"
                notFoundText="{{ ngSelectMessage.NotFound }}"
              >
                <ng-option [value]="true"> Hoạt động </ng-option>
                <ng-option [value]="false"> Không hoạt động </ng-option>
              </ng-select>
              <input
                type="text"
                class="form-control"
                formControlName="IsActiveName"
                *ngIf="functionCode == FunctionCode.DISPLAY"
                readonly
              />
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-12">
              <label for="Note" class="form-label">Ghi chú</label>
              <textarea
                rows="2"
                formControlName="Note"
                class="form-control"
                id="Note"
                placeholder="Ghi chú"
                maxlength="1000"
                [attr.readonly]="
                  functionCode == FunctionCode.DISPLAY ? true : null
                "
                [ngClass]="{
                  'is-invalid':
                    f.Note.errors && (f.Note.touched || f.Note.dirty)
                }"
              ></textarea>
              <div
                *ngIf="f.Note.errors && (f.Note.touched || f.Note.dirty)"
                class="invalid-feedback"
              >
                <div *ngIf="f.Note.errors?.[maxlength]">Tối đa 1000 ký tự</div>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button
          *ngIf="
            lstFunctionCode &&
            lstFunctionCode.includes(FunctionCode.EDIT) &&
            functionCode == FunctionCode.DISPLAY
          "
          class="btn btn-primary"
          (click)="onEdit()"
        >
          Sửa
        </button>
        <button
          *ngIf="
            lstFunctionCode &&
            lstFunctionCode.includes(FunctionCode.DELETE) &&
            functionCode == FunctionCode.DISPLAY
          "
          class="btn btn-danger btn-delete-left"
          (click)="onDelete()"
        >
          Xóa
        </button>
        <button
          type="submit"
          *ngIf="
            lstFunctionCode &&
            lstFunctionCode.includes(functionCode) &&
            functionCode != FunctionCode.DISPLAY
          "
          class="btn btn-primary"
          (click)="onSubmit()"
        >
          Lưu
        </button>
        <button (click)="onHide()" class="btn btn-secondary">Đóng</button>
      </div>
    </div>
  </div>
</div>
