.activexx {
  color: orange;
}
.clickedOrg {
  // color: orangered; /* Màu mặc định cho class "clicked" */
  background-color: rgba(0, 201, 167, 0.15);
}
.linkClicked {
  color: #00c9a7;
}
.IsHighlighted {
  background-color: rgba(0, 201, 167, 0.15);
}
