<div class="app {{ 'is-' + selectedHeaderColor }}">
  <div class="layout">
    <div class="page-container">
      <div class="main-content">
        <p><strong><strong>Ch&iacute;nh s&aacute;ch bảo mật th&ocirc;ng tin</strong></strong></p>
        <p>Trang n&agrave;y được sử dụng để th&ocirc;ng b&aacute;o cho kh&aacute;ch truy cập về c&aacute;c ch&iacute;nh
          s&aacute;ch của ch&uacute;ng t&ocirc;i với việc thu thập, sử dụng v&agrave; tiết lộ Th&ocirc;ng tin C&aacute;
          nh&acirc;n nếu bất kỳ ai quyết định sử dụng Dịch vụ của ch&uacute;ng t&ocirc;i.</p>
        <p>Nếu bạn chọn sử dụng Dịch vụ của ch&uacute;ng t&ocirc;i, nghĩa l&agrave; bạn đồng &yacute; với việc thu thập
          v&agrave; sử dụng th&ocirc;ng tin li&ecirc;n quan đến ch&iacute;nh s&aacute;ch n&agrave;y. Th&ocirc;ng tin
          C&aacute; nh&acirc;n m&agrave; ch&uacute;ng t&ocirc;i thu thập được sử dụng để cung cấp v&agrave; cải thiện
          Dịch vụ. Ch&uacute;ng t&ocirc;i sẽ kh&ocirc;ng sử dụng hoặc chia sẻ th&ocirc;ng tin của bạn với bất kỳ ai
          ngoại trừ được m&ocirc; tả trong Ch&iacute;nh s&aacute;ch Bảo mật n&agrave;y.</p>
        <p>C&aacute;c điều khoản được sử dụng trong Ch&iacute;nh s&aacute;ch Bảo mật n&agrave;y c&oacute; c&ugrave;ng
          &yacute; nghĩa như trong Điều khoản v&agrave; Điều kiện của ch&uacute;ng t&ocirc;i, c&oacute; thể truy cập
          được tại E-solutions trừ khi được định nghĩa kh&aacute;c trong Ch&iacute;nh s&aacute;ch Bảo mật n&agrave;y.
        </p>
        <p><strong><strong>Thu thập v&agrave; sử dụng th&ocirc;ng tin</strong></strong></p>
        <p>Để c&oacute; trải nghiệm tốt hơn, khi sử dụng Dịch vụ của ch&uacute;ng t&ocirc;i, ch&uacute;ng t&ocirc;i
          c&oacute; thể y&ecirc;u cầu bạn cung cấp cho ch&uacute;ng t&ocirc;i một số th&ocirc;ng tin nhận dạng c&aacute;
          nh&acirc;n nhất định, bao gồm nhưng kh&ocirc;ng giới hạn ở t&ecirc;n đăng nhập người d&ugrave;ng, mật khẩu.
          Th&ocirc;ng tin m&agrave; ch&uacute;ng t&ocirc;i y&ecirc;u cầu sẽ được ch&uacute;ng t&ocirc;i lưu giữ
          v&agrave; sử dụng như được m&ocirc; tả trong ch&iacute;nh s&aacute;ch bảo mật n&agrave;y.</p>
        <p>Ứng dụng sử dụng c&aacute;c dịch vụ của b&ecirc;n thứ ba c&oacute; thể thu thập th&ocirc;ng tin được sử dụng
          để nhận dạng bạn.</p>
        <p>Li&ecirc;n kết đến ch&iacute;nh s&aacute;ch bảo mật của c&aacute;c nh&agrave; cung cấp dịch vụ b&ecirc;n thứ
          ba được ứng dụng sử dụng</p>
        <ul style="margin-left: 35px;">
          <li><a href="https://www.google.com/policies/privacy/"><u>Google Play Services</u></a></li>
          <li><a href="https://firebase.google.com/policies/analytics"><u>Google Analytics for Firebase</u></a></li>
          <li><a href="https://firebase.google.com/support/privacy/"><u>Firebase</u></a></li>
          <li><a href="https://www.facebook.com/about/privacy/update/printable"><u>Facebook</u></a></li>
        </ul>
        <br>
        <p><strong><strong>Dữ liệu nhật k&yacute;</strong></strong></p>
        <p>Ch&uacute;ng t&ocirc;i muốn th&ocirc;ng b&aacute;o với bạn rằng bất cứ khi n&agrave;o bạn sử dụng Dịch vụ của
          ch&uacute;ng t&ocirc;i, trong trường hợp xảy ra lỗi trong ứng dụng, ch&uacute;ng t&ocirc;i thu thập dữ liệu
          v&agrave; th&ocirc;ng tin (th&ocirc;ng qua c&aacute;c sản phẩm của b&ecirc;n thứ ba) tr&ecirc;n điện thoại của
          bạn được gọi l&agrave; dữ liệu nhật k&yacute;. Dữ liệu nhật k&yacute; n&agrave;y c&oacute; thể bao gồm
          th&ocirc;ng tin như địa chỉ Giao thức Internet (&ldquo;IP&rdquo;) tr&ecirc;n thiết bị của bạn, t&ecirc;n thiết
          bị, phi&ecirc;n bản hệ điều h&agrave;nh, cấu h&igrave;nh của ứng dụng khi sử dụng Dịch vụ của ch&uacute;ng
          t&ocirc;i, ng&agrave;y giờ bạn sử dụng Dịch vụ v&agrave; c&aacute;c số liệu thống k&ecirc; kh&aacute;c .</p>
        <p><strong><strong>Cookie</strong></strong></p>
        <p>Cookie l&agrave; c&aacute;c tệp c&oacute; một lượng nhỏ dữ liệu thường được sử dụng l&agrave;m m&atilde; định
          danh duy nhất ẩn danh. Ch&uacute;ng được gửi đến tr&igrave;nh duyệt của bạn từ c&aacute;c trang web m&agrave;
          bạn truy cập v&agrave; được lưu trữ tr&ecirc;n bộ nhớ trong của thiết bị của bạn.</p>
        <p>Dịch vụ n&agrave;y kh&ocirc;ng sử dụng c&aacute;c &ldquo;cookie&rdquo; n&agrave;y một c&aacute;ch r&otilde;
          r&agrave;ng. Tuy nhi&ecirc;n, ứng dụng c&oacute; thể sử dụng m&atilde; của b&ecirc;n thứ ba v&agrave;
          c&aacute;c thư viện sử dụng &ldquo;cookie&rdquo; để thu thập th&ocirc;ng tin v&agrave; cải thiện dịch vụ của
          họ. Bạn c&oacute; t&ugrave;y chọn chấp nhận hoặc từ chối c&aacute;c cookie n&agrave;y v&agrave; biết khi
          n&agrave;o một cookie được gửi đến thiết bị của bạn. Nếu bạn chọn từ chối cookie của ch&uacute;ng t&ocirc;i,
          bạn c&oacute; thể kh&ocirc;ng sử dụng được một số phần của Dịch vụ n&agrave;y.</p>
        <p><strong><strong>C&aacute;c nh&agrave; cung cấp dịch vụ</strong></strong></p>
        <p>Ch&uacute;ng t&ocirc;i c&oacute; thể tuyển dụng c&aacute;c c&ocirc;ng ty v&agrave; c&aacute; nh&acirc;n
          b&ecirc;n thứ ba v&igrave; những l&yacute; do sau:</p>
        <p>Để tạo điều kiện cho Dịch vụ của ch&uacute;ng t&ocirc;i;<br />Để cung cấp Dịch vụ thay mặt ch&uacute;ng
          t&ocirc;i;<br />Để thực hiện c&aacute;c dịch vụ li&ecirc;n quan đến Dịch vụ; hoặc<br />Để hỗ trợ ch&uacute;ng
          t&ocirc;i ph&acirc;n t&iacute;ch c&aacute;ch Dịch vụ của ch&uacute;ng t&ocirc;i được sử
          dụng.<br />Ch&uacute;ng t&ocirc;i muốn th&ocirc;ng b&aacute;o cho người d&ugrave;ng Dịch vụ n&agrave;y rằng
          c&aacute;c b&ecirc;n thứ ba n&agrave;y c&oacute; quyền truy cập v&agrave;o Th&ocirc;ng tin c&aacute;
          nh&acirc;n của bạn. L&yacute; do l&agrave; để thay mặt ch&uacute;ng t&ocirc;i thực hiện c&aacute;c nhiệm vụ
          được giao cho họ. Tuy nhi&ecirc;n, họ c&oacute; nghĩa vụ kh&ocirc;ng tiết lộ hoặc sử dụng th&ocirc;ng tin cho
          bất kỳ mục đ&iacute;ch n&agrave;o kh&aacute;c.</p>
        <p><strong><strong>Bảo vệ</strong></strong></p>
        <p>Ch&uacute;ng t&ocirc;i đ&aacute;nh gi&aacute; cao sự tin tưởng của bạn trong việc cung cấp cho ch&uacute;ng
          t&ocirc;i Th&ocirc;ng tin c&aacute; nh&acirc;n của bạn, do đ&oacute; ch&uacute;ng t&ocirc;i đang cố gắng sử
          dụng c&aacute;c phương tiện được chấp nhận về mặt thương mại để bảo vệ th&ocirc;ng tin đ&oacute;. Nhưng
          h&atilde;y nhớ rằng kh&ocirc;ng c&oacute; phương thức truyền tải n&agrave;o qua internet, hoặc phương thức lưu
          trữ điện tử l&agrave; an to&agrave;n v&agrave; đ&aacute;ng tin cậy 100%, v&agrave; ch&uacute;ng t&ocirc;i
          kh&ocirc;ng thể đảm bảo t&iacute;nh bảo mật tuyệt đối của n&oacute;.</p>
        <p><strong><strong>Li&ecirc;n kết đến c&aacute;c trang web kh&aacute;c</strong></strong></p>
        <p>Dịch vụ n&agrave;y c&oacute; thể chứa c&aacute;c li&ecirc;n kết đến c&aacute;c trang web kh&aacute;c. Nếu bạn
          nhấp v&agrave;o li&ecirc;n kết của b&ecirc;n thứ ba, bạn sẽ được dẫn đến trang web đ&oacute;. Lưu &yacute;
          rằng c&aacute;c trang web b&ecirc;n ngo&agrave;i n&agrave;y kh&ocirc;ng do ch&uacute;ng t&ocirc;i điều
          h&agrave;nh. Do đ&oacute;, ch&uacute;ng t&ocirc;i đặc biệt khuy&ecirc;n bạn n&ecirc;n xem lại Ch&iacute;nh
          s&aacute;ch Bảo mật của c&aacute;c trang web n&agrave;y. Ch&uacute;ng t&ocirc;i kh&ocirc;ng kiểm so&aacute;t
          v&agrave; kh&ocirc;ng chịu tr&aacute;ch nhiệm đối với nội dung, ch&iacute;nh s&aacute;ch bảo mật hoặc thực
          tiễn của bất kỳ trang web hoặc dịch vụ của b&ecirc;n thứ ba n&agrave;o.</p>
        <p><strong><strong>Quyền ri&ecirc;ng tư của trẻ em</strong></strong></p>
        <p>Những Dịch vụ n&agrave;y kh&ocirc;ng li&ecirc;n quan đến bất kỳ ai dưới 13 tuổi. Ch&uacute;ng t&ocirc;i
          kh&ocirc;ng cố &yacute; thu thập th&ocirc;ng tin nhận dạng c&aacute; nh&acirc;n từ trẻ em dưới 13 tuổi. Trong
          trường hợp ch&uacute;ng t&ocirc;i ph&aacute;t hiện ra rằng một đứa trẻ dưới 13 tuổi đ&atilde; cung cấp cho
          ch&uacute;ng t&ocirc;i th&ocirc;ng tin c&aacute; nh&acirc;n, ch&uacute;ng t&ocirc;i sẽ ngay lập tức x&oacute;a
          th&ocirc;ng tin n&agrave;y khỏi m&aacute;y chủ của ch&uacute;ng t&ocirc;i. Nếu bạn l&agrave; cha mẹ hoặc người
          gi&aacute;m hộ v&agrave; bạn biết rằng con bạn đ&atilde; cung cấp th&ocirc;ng tin c&aacute; nh&acirc;n cho
          ch&uacute;ng t&ocirc;i, vui l&ograve;ng li&ecirc;n hệ với ch&uacute;ng t&ocirc;i để ch&uacute;ng t&ocirc;i
          c&oacute; thể thực hiện c&aacute;c h&agrave;nh động cần thiết.</p>
        <p><strong><strong>C&aacute;c thay đổi đối với Ch&iacute;nh s&aacute;ch quyền ri&ecirc;ng tư
              n&agrave;y</strong></strong></p>
        <p>Ch&uacute;ng t&ocirc;i c&oacute; thể cập nhật Ch&iacute;nh s&aacute;ch Bảo mật của m&igrave;nh theo thời
          gian. V&igrave; vậy, bạn n&ecirc;n xem lại trang n&agrave;y định kỳ để biết bất kỳ thay đổi n&agrave;o.
          Ch&uacute;ng t&ocirc;i sẽ th&ocirc;ng b&aacute;o cho bạn về bất kỳ thay đổi n&agrave;o bằng c&aacute;ch đăng
          Ch&iacute;nh s&aacute;ch Bảo mật mới tr&ecirc;n trang n&agrave;y.</p>
      </div>
    </div>
  </div>
</div>
